<div class="container">
  <div><ngx-loading [show]="loading"></ngx-loading></div>
  <div class="page" *ngIf="!loading">
    <div class="breadcrumbs">
      <a href="/categories">Categories</a>
    </div>

    <div class="content">
      <div class="row">
          <md-card style="cursor: pointer" *ngFor="let category of categories.genres">

            <a href="/categories/{{category.id}}">
              <md-card-content>
                <md-card-title>{{category.name}}</md-card-title>
              </md-card-content>
            </a>

          </md-card>
      </div>
    </div>
  </div>
</div>

