<div class="container">
  <div><ngx-loading [show]="loading"></ngx-loading></div>
  <div class="page">
    <div class="row">
      <div *ngIf="!loading">
        <md-card class="col-xs-3" *ngFor="let currentMovie of movies">
          <md-card-header>
            <md-card-title><h4>{{ currentMovie.title.substring(0, 20) + (currentMovie.title.length > 20? '...' : '') }}</h4></md-card-title>
            <md-card-subtitle>{{ currentMovie.releaseDate }}</md-card-subtitle>
          </md-card-header>
          <img md-card-image src="{{ currentMovie.image }}">
          <md-card-content>
            <p>
              {{ currentMovie.desc.substring(0, 60) + (currentMovie.desc.length > 60? '...' : '') }}
            </p>
          </md-card-content>
          <md-card-actions>
            <button md-button [routerLink]="['/home', currentMovie.id]">Detalis</button>
            <button md-button>share</button>
          </md-card-actions>
        </md-card>
      </div>
      <!--<div>-->
      <!--<div class="latest-movie">-->
      <!--<a href="#"><img src="{{ currentMovie.image }}" alt="{{ currentMovie.title }}"></a>-->

      <!--<div class="info">-->
      <!--<h4>{{ currentMovie.title }}</h4>-->
      <!--<p>{{currentMovie.desc }}</p>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
    </div>


  </div>
</div>
