<div class="container">
  <div><ngx-loading [show]="loading"></ngx-loading></div>
  <div class="page" *ngIf="!loading">
    <div class="breadcrumbs">
      <a href="/categories">Categories</a>
    </div>

    <div class="content">
      <h1 class="center-block">Login</h1>

            <input class="form-control" [(ngModel)]="hero.username" placeholder="Enter Username"><br>
            <input class="form-control" type="password" [(ngModel)]="hero.password" placeholder="Enter Password"><br>
            <input class="btn btn-primary form-control" type="button" value="Log In">
    </div>
  </div>
</div>

